<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
            .content .content-head {
                text-align: center;
                font-size: 20px;
                margin: 20px 0;
                padding-bottom: 10px;
                color: #0088d0;
            }
           .content .content-section .content-section-head {
                font-size: 16px;
                margin: 10px 0;
                color: #000;
            }

            .content .content-section .content-section-txt {
                text-indent: 40px;
            }
            .content .content-section {
                font-size: 14px;
                color: #5f5f5f;
                line-height: 30px;
            }

            .box {
                margin-left: 30px;
            }

    </style>
</head>
    <body>
    <div class="box">
        <!--includeEnd-->
        <div class="content">
                <div class="license">
                    <div class="content-head">行云管家用户使用协议</div>
                    <div class="content-section">
                    <div class="content-section-head">1.服务条款的接受与修改</div>
                        <p class="content-section-txt">
                            1.1 《行云管家用户使用协议》（以下简称“本协议”）是用户与深圳市傲冠软件股份有限公司（以下简称“傲冠”）之间关于用户使用行云管家提供的各项服务所订立的协议。“行云管家”是指由傲冠运营的“行云管家”网站，域名为cloudbility.com。“用户”指享受行云管家各项服务的个人或组织，在本协议中更多地称为“您”或“用户”。本协议构成您使用行云管家所提供各项服务的先决条件，除非您接受本协议条款，否则您无权使用行云管家提供的各项服务内容。您的注册、登录、查看、使用等行为即视为已阅读并接受本协议各项条款的约束。
                        </p>
                        <p class="content-section-txt">
                            1.2 傲冠有权随时对协议条款进行修改，一旦协议条款发生变更和修改，傲冠将在相关页面上提示修改的内容。如果您不同意本协议的修改，可以取消已经获取的服务并停止使用。如果您继续使用行云管家提供的服务，则视为您已经接受本协议的全部修改。
                        </p>
                        <p class="content-section-txt">
                            1.3 请您务必审慎阅读、充分理解各条款内容，并选择接受或不接受。您在享受行云管家所提供的各项服务（以下简称“本服务”）时必须完全、严格遵守本协议条款。
                        </p>
                    </div>
                    <div class="content-section">
                    <div class="content-section-head">2.服务说明</div>
                        <p class="content-section-txt">
                            2.1服务获取
                        </p>
                        <p class="content-section-txt">
                            2.1.1用户提供有效信息注册成为行云管家用户，并且须保证所提交的信息真实、准确。否则，由此引发的直接或间接纠纷及所涉及的任何责任或赔偿均由用户自行承担。
                        </p>
                        <p class="content-section-txt">
                            2.1.2 用户可以直接通过行云管家官网或向得到傲冠授权的经销商购买本服务。
                        </p>
                        <p class="content-section-txt">
                            2.1.3 如果用户通过未经傲冠授权的第三方获取本服务，傲冠无法保证本服务能够正常使用，并对用户因此遭受的损失不予负责。
                        </p>
                        <p class="content-section-txt">
                            2.2 付费与退款
                        </p>
                        <p class="content-section-txt">
                            2.2.1 用户购买本服务时，须按照相关流程提交订单需求并确认订单信息，订单提交后，所提交的订单信息、公司信息、发票信息等任何信息将不可再进行任何修改，同时，用户应严格按照要求及时完成付款。
                        </p>
                        <p class="content-section-txt">
                            2.2.2用户可通过各种已有和未来新增的支付方式购买本服务，包括但不限于：网银支付、微信支付、支付宝支付或其他第三方支付等方式。
                        </p>
                        <p class="content-section-txt">
                            2.2.3 傲冠在自用户付款且到账后的7个工作日内开具发票并寄出。
                        </p>
                        <p class="content-section-txt">
                            2.2.4 本服务资费标准以行云管家网站上标注的详细资费标价为准，傲冠有权基于自身业务发展需要变更上述资费标准，但傲冠会根据实际运营情况对不同阶段已经激活且持续有效的用户给予续费、升级方面的不同资费优惠。
                        </p>
                        <p class="content-section-txt">
                            2.2.5 如需退款，用户可在付款后的3个工作日内提交退款申请，否则，逾期一概不予退款。
                        </p>
                    </div>
                    <div class="content-section">
                    <div class="content-section-head">3.服务使用规范</div>
                        <p class="content-section-txt">
                            3.1用户账号仅限于申请或购买服务的个人或组织自行使用，禁止赠与、借用、租用、转让或售卖。否则傲冠有权在未经通知的情况下取消转让账户、受让账户的行云管家用户资格，由此带来的损失由用户自行承担。
                        </p>
                        <p class="content-section-txt">
                            3.2 用户应自行负责妥善且正确地保管、使用、维护您在行云管家申请取得的账户、账户信息及账户密码。用户应对您账户信息和账户密码采取必要和有效的保密措施。非傲冠原因致使您账户密码泄漏以及因您保管、使用、维护不当造成损失的，傲冠无须承担与此有关的任何责任。
                        </p>
                        <p class="content-section-txt">
                            3.3傲冠不对您因第三方的行为或不作为造成的损失承担任何责任，包括但不限于支付服务和网络接入服务、任意第三方的侵权行为。
                        </p>
                        <p class="content-section-txt">
                            3.4 除非法律允许或傲冠书面许可，您使用本服务过程中不得从事下列行为：
                        </p>
                        <p class="content-section-txt">
                            3.4.1 对本服务进行反向工程、反向汇编、反向编译，或者以其他方式尝试发现本服务的源代码；
                        </p>
                        <p class="content-section-txt">
                            3.4.2 对傲冠拥有知识产权的内容进行使用、出租、出借、复制、修改、链接、转载、汇编、发表、出版、建立镜像站点等；
                        </p>
                        <p class="content-section-txt">
                            3.4.3 自行或者授权他人、第三方软件对本服务及其组件、模块、数据进行干扰；
                        </p>
                        <p class="content-section-txt">
                            3.4.4 损害第三方利益，通过本服务收集第三方资料信息、破坏或盗取第三方账号、侵犯第三方合法权益，包括但不限于隐私权、知识产权、财产权等；
                        </p>
                        <p class="content-section-txt">
                            3.4.5 其他未经傲冠授权的行为。
                        </p>
                    </div>
                    <div class="content-section">
                    <div class="content-section-head">4.免责条款</div>
                        <p class="content-section-txt">
                            4.1您理解并同意：鉴于网络服务的特殊性或国家政策、行业规定的调整、变化等，傲冠有权根据本服务的整体运营情况或相关运营规范、规则等，变更、中止或终止部分或全部的服务，傲冠会以本协议约定的通知方式通知用户。
                        </p>
                        <p class="content-section-txt">
                            4.2 您理解并同意：为了向您提供更完善的服务，傲冠有权定期或不定期地对提供本服务的平台或相关设备进行检修、维护、升级等，此类操作可能会造成相关服务在合理时间内中断或暂停的情况，若由此给您造成损失的，您同意放弃追究傲冠的责任。
                        </p>
                        <p class="content-section-txt">
                            4.3 您理解并同意：傲冠的服务是按照现有技术和条件所能达到的现状提供的。傲冠会尽最大努力向您提供服务，确保服务的连贯性和安全性；但傲冠不能保证其所提供的服务毫无瑕疵，也无法随时预见和防范法律、技术以及其他风险，包括但不限于不可抗力、病毒、木马、黑客攻击、系统不稳定、通信线路故障、第三方服务瑕疵、政府行为等原因可能导致的服务中断、数据丢失以及其他的损失和风险。所以您也同意：即使傲冠提供的服务存在瑕疵，但上述瑕疵是当时行业技术水平所无法避免的，其将不被视为傲冠违约，同时，由此给您造成的数据或信息丢失等损失的，您同意放弃追究傲冠的责任。
                        </p>
                        <p class="content-section-txt">
                            4.4 您理解并同意：在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务发生中断。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现上述情况时，傲冠将努力在第一时间与相关单位配合，及时进行修复，若由此给您造成损失的，您同意放弃追究傲冠的责任。
                        </p>
                        <p class="content-section-txt">
                            4.5 您理解并同意：若由于以下情形导致的服务中断或受阻，傲冠并不承担任何法律责任：（1）受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏；（2）您的电脑软件、系统、硬件和通信线路出现故障；（3）您操作不当；（4）您通过非傲冠授权的方式使用本服务；（5）其他傲冠无法控制或合理预见的情形。
                        </p>
                    </div>
                    <div class="content-section">
                    <div class="content-section-head">5.信息安全声明</div>
                        <p class="content-section-txt">
                            5.1 保护用户信息安全是傲冠的一项基本原则，傲冠将会采取合理的措施保护用户的信息。傲冠对相关信息采用专业加密存储与传输方式保障用户信息的安全。
                        </p>
                        <p class="content-section-txt">
                            5.2 傲冠将运用各种安全技术和程序建立完善的管理制度来保护用户信息，以免遭受未经授权的访问、使用和披露。
                        </p>
                        <p class="content-section-txt">
                            5.3 未经用户的同意，傲冠不会向傲冠以外的任何公司、组织和个人披露用户信息，但法律法规另有规定的除外。
                        </p>
                        <p class="content-section-txt">
                            5.4 对于本服务，傲冠保证不含有任何恶意破坏您的计算机资源（包括文档、程序和其他数据）的功能设置。对于您在使用本服务过程中而产生的利润损失、可用性消失、商业中断，或任何形式的间接、特别、意外或必然的破坏，或任何其他方的索赔，傲冠及其代理、销售人员概不负责，即使傲冠已事先被告知此类事有可能发生。
                        </p>
                    </div>
                    <div class="content-section">
                    <div class="content-section-head">6.知识产权</div>
                        <p class="content-section-txt">
                            6.1 本服务涉及的行云管家产品所有权以及相关软件知识产权归傲冠所有。
                        </p>
                        <p class="content-section-txt">
                            6.2 傲冠在本服务中提供的信息内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权均归傲冠所有。除另有特别声明外，傲冠提供本服务时所依托软件的著作权、专利权及其他知识产权均归傲冠所有。
                        </p>
                        <p class="content-section-txt">
                            6.3傲冠在本服务中所使用的“行云管家”、“Cloudbility”、“傲冠”、“Skybility”图标及LOGO等商业标识，其著作权或商标权归傲冠所有。上述及其他任何傲冠依法拥有的知识产权均受到法律保护，未经傲冠书面许可，用户不得以任何形式进行使用或创造相关衍生作品。
                        </p>
                        <p class="content-section-txt">
                            6.4 用户仅拥有依照本协议约定合法使用本服务的权利，与本服务相关的技术接口相关的著作权、专利权等相关全部权利归傲冠所有。未经傲冠书面许可，用户不得违约或违法使用，不得向任何单位或个人出售、转让、授权傲冠的代码、技术接口及开发工具等。
                        </p>
                        <p class="content-section-txt">
                        </p>
                    </div>
                    <div class="content-section">
                    <div class="content-section-head">7.关于通知</div>
                        <p class="content-section-txt">
                            7.1 傲冠可能会以网页公告、网页提示、电子邮箱、手机短信、微信消息、您注册的本服务帐户的管理系统内发送站内信等方式中的一种或多种，向您送达关于本服务的各种规则、通知、提示等信息，该等信息一经傲冠采取前述任何一种方式公布或发送，即视为您已经接受并同意，对您产生约束力。若您不接受的，请您书面通知傲冠，否则视为您已经接受、同意。
                        </p>
                        <p class="content-section-txt">
                            7.2 若由于您提供的电子邮箱、手机号码、微信账号、通讯地址等信息错误，导致您未收到相关规则、通知、提示等信息的，您同意仍然视为您已经收到相关信息并受其约束，一切后果及责任由您自行承担。
                        </p>
                    </div>
                    <div class="content-section">
                    <div class="content-section-head">8.有效期和终止</div>
                        <p class="content-section-txt">
                            8.1 除本协议约定终止之情形外，本协议将会一直有效。
                        </p>
                        <p class="content-section-txt">
                            8.2 终止的情形：
                        </p>
                        <p class="content-section-txt">
                            8.2.1 如您书面通知傲冠不接受本协议或对其的修改，傲冠有权随时终止向您提供本服务。
                        </p>
                        <p class="content-section-txt">
                            8.2.2 因不可抗力因素导致您无法继续使用本服务或傲冠无法提供本服务的，傲冠有权随时终止协议。
                        </p>
                        <p class="content-section-txt">
                            8.2.3 本协议约定的其他终止条件发生或实现的，傲冠有权随时终止向您提供本服务。
                        </p>
                        <p class="content-section-txt">
                            8.2.4 任何一方宣布破产或进入清算或解散程序。
                        </p>
                        <p class="content-section-txt">
                            8.2.5 如有新的条款双方可友好协商签订补充协议，补充协议和本协议具有同样的法律效力。
                        </p>
                        <p class="content-section-txt">
                            8.2.6 协议生效期间如遇国家法律、法规、国家相关部门及电信运营商有新相关文件出台或政策环境产生变化，致使本协议之签订、履行基础产生根本性变化的，任何一方可通知对方协商变更原协议，若协商不成，一方可在提前十五日通知对方的情况下终止协议并不承担任何责任。
                        </p>
                        <p class="content-section-txt">
                            8.2.7 如本协议或本服务因为任何原因终止的，对于您的帐户中的全部数据或您因使用本服务而存储在行云管家服务器中的数据等任何信息，傲冠可将该等信息保留或删除，包括服务终止前您尚未完成的任何数据。
                        </p>
                        <p class="content-section-txt">
                            8.2.8 如本协议或本服务因为任何原因终止的，您应自行处理好关于数据等信息的备份以及与您的用户之间的相关事项的处理等。
                        </p>
                        <p class="content-section-txt">
                            8.3 服务结束及后续处理
                        </p>
                        <p class="content-section-txt">
                            8.3.1服务结束是指用户在本服务到期时未完成续费手续，傲冠终止向用户提供本服务。
                        </p>
                        <p class="content-section-txt">
                            8.3.2 您应该在本服务到期前，提前完成续费手续，否则傲冠有权自您本服务的使用期限到期日起，在不通知您的情况下终止您对本服务的使用。
                        </p>
                        <p class="content-section-txt">
                            8.3.3 服务结束后，傲冠有权随时清空您因使用本服务产生的全部数据、信息等，并对您因此遭受的损失不予负责。如果您在本服务到期时无法完成续费手续或到期后决定不再继续使用本服务，请您自行提前备份相关数据。
                        </p>
                    </div>
                    <div class="content-section">
                    <div class="content-section-head">9.其它</div>
                        <div class="content-section-txt">
                            本协议的未尽事宜，由双方其它协议或另行协商约定。本协议适用于中华人民共和国有关法律。
                        </div>
                    </div>
                </div>
            </div>
        <!--include "./include/qrCode-footer.html"-->
    </div>

    </body>
</html>

